.app_container {
    background-color: #F8FAFC;
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 96px 100%;
}



///// Side Navigation 


.navigation_container {
    width: 100%;
    background-color: transparent;
    border: 2px solid rgba(213, 215, 218, 0.30);

    .user_icon {
        width: 100%;
        height: 92px;
    }

    .flex_center {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .icon {
        background-color: $blue;
        height: 50%;
        width: 50%;
        border-radius: 50%;
        padding-bottom: 50%;
    }



    .navigation_item {
        height: 92px;
        width: 100%;
        position: relative;
        margin: 50px 0px;

        a {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }

        .icon {
            background-color: $lightblue;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                color: $blue;
                font-size: 1.2em;
                margin-top: 100%;
            }
        }
    }

    .app_active {
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 10px;
            height: 100%;
            background-color: $blue;
        }
    }
}





/////////////  Application Top Row /////////////


.dashboard_container {
    height: fit-content;
    width: fit-content;
    margin: auto;
    margin-top: 200px;

    h3 {
        color: #141414;
        padding: 10px 0px;
    }
}

.dashboard_row {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.link_count {
    height: fit-content;
    width: fit-content;
    padding: 4px 8px;
    background-color: $lightblue;
    border-radius: 8px;
    margin-right: 25px;


    h5 {
        color: $blue;
        font-weight: 500;
        font-size: 1.1em;

        span {
            display: inline-block;
            color: $lightblue;
            padding: 0px 16px;
            position: relative;
            z-index: 2;
            font-size: .9em;
            font-weight: 400;


            &::after {
                content: "";
                position: absolute;
                transform: translate(-50%, -50%);
                top: 50%;
                left: 50%;
                border-radius: 50%;
                width: 25px;
                height: 25px;
                background-color: $blue;
                z-index: -1;
            }
        }
    }
}


//// Link Inputs


.links {
    display: flex;
    flex-direction: row;
    align-items: center;



    h5 {
        color: #748498;
        margin-right: 25px;
    }


    input {
        background-color: white;
        border: 2px solid #E2E8F0;
        border-radius: 10px;
        padding: 4px 8px;
        height: 45px;
    }


    .main_link {
        position: relative;
        display: flex;
        width: fit-content;
        flex-direction: row;
        align-items: center;


        select {
            -webkit-appearance: none;
            background-color: #E2E8F0;
            border: 2px solid #E2E8F0;
            border-radius: 10px 0px 0px 10px;
            height: 45px;
            width: 84px;
            color: #748498;
            padding-left: 8px;
        }


        svg {
            z-index: 1;
            color: #748498;
            position: absolute;
            left: 60px;
            pointer-events: none;
        }

        input {
            width: 400px;
            margin-right: 25px;
            border-radius: 0px 10px 10px 0px;
        }



    }

    .link_submit {
        position: relative;
        width: 45px;
        height: 45px;
        margin-left: 25px;
        display: flex;
        align-items: center;
        justify-content: center;

        input[type=submit] {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: #B8E986;
            border: none;

            cursor: pointer;
        }

        svg {
            z-index: 1;
            pointer-events: none;
            color: #F8FAFC;
        }


    }

}


.link_board_container {
    background: white;
    box-shadow: 9px 9px 16px 0 #DDE7ED;
    border-radius: 10px;
    min-height: 400px;
    margin-top: 25px;

    padding: 20px;

    form {
        display: grid;
        grid-auto-rows: 45px;
        gap: 10px;

    }

    a,
    p {
        color: black;
    }

    .submit {
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: row;
        background-color: $blue;
        border-radius: 8px;
        align-items: center;
        padding: 8px;
        position: relative;

        input[type=submit] {
            width: fit-content;
            height: fit-content;
            color: red;
            border: none;
            color: white;
            cursor: pointer;
            background-color: transparent;
            margin-right: 8px;
        }

        svg {
            pointer-events: none;
        }
    }






    .link_item {
        display: grid;
        grid-template-columns: 50px 50% auto auto;
        border-bottom: 1px solid #F3F6FC;
        align-items: center;

        a {

            font-size: 1em;
            color: #023E8A;
            letter-spacing: -0.19px;
            font-weight: 500;
        }

        p {
            color: #A7A7A7;
            letter-spacing: -0.16px;
            font-weight: 500;
            font-size: .8em;
        }
    }


    button {
        border-radius: 8px;
        border: none;
        color: white;
        cursor: pointer;
        height: fit-content;
        width: fit-content;
        padding: 8px;
        justify-items: start;
    }

    .link_enabled {
        background-color: #B8E986;
    }

    .link_disabled {
        background-color: #F88587;
    }
}